$first_color: #0e2431;
$second_color: #00c6af;
$third_color: #777;

$hover_color: #029b86;

$white_color: #fff;
$card_bg_color: #fff;
$modal_bg_color: #fff;
$transparent_color_01: rgba(0, 0, 0, 0.1);
$transparent_color_02: rgba(106, 89, 209, 0.1);
$line_color: #d7d7d7;

$box_shadow: 0 0 2rem rgb(0 0 0 / 10%);

$small_font_size: 0.9em;
$normal_font_size: 1em;