/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.btn {
  background-color: #00c6af;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  margin-top: 25px;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 10px;
}

.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  transition: 0.6s ease;
}
.header .logo {
  color: #0e2431;
  font-size: 1.3em;
  font-weight: 600;
}
.header .nav .nav_list {
  display: flex;
}
.header .nav .nav_list .nav_list_item .nav_list_item_link {
  color: #0e2431;
  font-size: 1em;
  font-weight: 500;
  margin-left: 50px;
}
.header .nav .nav_list .nav_list_item .nav_list_item_link:hover {
  color: #00c6af;
}

.home {
  min-height: 100vh;
  padding: 4rem 0;
}
.home .content {
  display: flex;
}
.home .content .media_icons {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.home .content .media_icons .media_icon {
  color: #00c6af;
  font-size: 1.5em;
  margin: 10px 0;
}
.home .content .info {
  max-width: 350px;
}
.home .content .info h2 {
  font-size: 4em;
  font-weight: 600;
  line-height: 70px;
}
.home .content .info h3 {
  font-weight: 600;
  line-height: 50px;
}
.home .content .info p {
  font-size: 1em;
}
.home .content .home_img {
  width: calc(100% - 350px - 64px);
}
.home .content .home_img img {
  width: 100%;
}
.home .scroll_down {
  display: block;
  text-align: center;
  color: #0e2431;
  font-size: 1em;
  font-weight: 500;
  margin-top: 20px;
}
.home .scroll_down i {
  color: #00c6af;
  font-size: 1.2em;
  animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
}/*# sourceMappingURL=main.css.map */